<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Caraus</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div id="react-view"></div>
    <script src="bundle.js"></script>
    <% if (typeof livereloadJs !== 'undefined') { %>
        <script src="<%= livereloadJs %>"></script>
    <% } %>
</body>
</html>