<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Isomorphic Redux Demo</title>
    <script>
        window.__INITIAL_STATE__ = <%- initialState %>;
    </script>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div id="react-view"><%- html %></div>
    <script src="bundle.js"></script>
    <% if (typeof livereloadJs !== 'undefined') { %>
        <script src="<%= livereloadJs %>"></script>
    <% } %>
</body>
</html>